body {
  color: #000;
  background-image: url("background3.jpg");
  background-size: cover;
  font-family: 'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ ProN W4', 'arial unicode ms';
}


.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.col-md-3 {
  text-align: right;
}

h3 {
  color: #000;
  margin-bottom: 50px;
}

.row p.home a{
  text-align: right;
  color:blue;
}

table {
  margin-top: 50px;
}

td .notice {
  font-size: 1px;
}

tbody img {
  max-width: 100%;
  height: auto;
}

.row .ml-auto a.edit {
  margin-top: 50px;
}

.image2 img {
  max-width: 100%;
  height: auto;
}

.date {
  margin-bottom: 30px;
  color: #5d6470;
}

p.body {
  font-size: 125%;
  font-weight: bold;
  color: #007fe8;
}

p span {
  color: black;
}

.user {
  margin: 100px auto 0 auto;
}

.user p.body {
  color: #007fe8;
}

.user span {
  color: black;
}

h2 {
  margin-bottom: 50px;
}

.form-group div.col-md-10 {
  margin-top: 50px;
}

form input.btn {
  margin-top: 50px
}