body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.col-md-3 {
  text-align: right;
}

h5 {
  color: #000;
  margin-bottom: 50px;
}

.row p.home {
  text-align: right;
}

table {
  margin-top: 50px;
}

td .notice {
  font-size: 1px;
}

tbody img {
  max-width: 100%;
  height: auto;
}

.row .ml-auto a.edit {
  margin-top: 50px;
}

